- content_for :js_modules do
  = javascript_import_module_tag "users/edit"
- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.users_registrations_edit')
%h1= t('.header')
%h4.text-muted= t('.subheader')
.row
  .col-12.col-lg-6
    = sciveyor_form_with model: resource, scope: resource_name, url: registration_path(resource_name), method: :put, html: { novalidate: true, class: 'needs-validation' } do |form|
      = form.text_field :name, input_options: { required: true, autofocus: true }
      = form.email_field :email, input_options: { required: true }
      = form.password_field :current_password, input_options: { required: true }, client_side_message: 'devise.registrations.edit.password_blank'
      .card.mb-3
        .card-body
          %h5.card-title= t('.change_password')
          = form.password_field :password, input_options: { autocomplete: 'off', placeholder: t('.password_placeholder') }
          = form.password_field :password_confirmation, input_options: { autocomplete: 'off', placeholder: t('.password_placeholder') }
      .card.mb-3
        .card-body
          %h5.card-title= t('.settings')
          = form.select :language, options_for_select(I18n.locale_options_array, resource.language)
          = form.select :timezone, options_for_select(ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.tzinfo.identifier] }, resource.timezone)
      = link_to t('.cancel'), registration_path(resource_name), data: { confirm: t('.cancel_confirm') }, method: :delete, class: 'btn btn-danger'
      .float-end
        = form.submit t('.submit')
.row
  .col-12
    %hr/
    %h2= t('.library_links_header')
    %h5.text-muted= t('.library_links_subheader')
    #library-list{data: { sv_fetch_url: libraries_path }}
      = render template: 'libraries/index', layout: false
.row
  .col-12
    %hr/
    %h2= t('.export_data_header')
    %h5.text-muted= t('.export_data_subheader')
    - if current_user.export_filename.present?
      .btn-group{role: "group"}
        = link_to static_file_path(current_user.export_filename, download: 'true'), class: 'btn btn-primary' do
          %i.fas.fa-save
          = t('.export_download')
        = link_to user_export_path, method: :delete, class: 'btn btn-danger' do
          %i.fas.fa-trash
          = t('.export_delete')
    - elsif current_user.can_export?
      = link_to '#', class: 'btn btn-info', data: { bs_toggle: 'modal', bs_target: '#export-request-modal' } do
        %i.fas.fa-cloud-download-alt
        = t('.export_request')
    - else
      %p= t('.export_unavailable')
- if current_user.can_export?
  .modal{
    id: "export-request-modal",
    tabindex: "-1",
    role: "dialog",
    aria: { hidden: "true" }
  }
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %h4.modal-title= t('.export_data_header')
          = close_icon('bs-dismiss': 'modal')
        .modal-body
          %p= t('.export_request_text')
        .modal-footer
          %button.btn.btn-secondary{data: { bs_dismiss: "modal" }}
            = t('common.cancel')
          = link_to t('.export_request_button'), user_export_path, class: 'btn btn-primary'
