- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.users_registrations_new')
%h1= t('.header')
%h4.text-muted= t('.subheader')
.row
  .col-12.col-lg-6
    = sciveyor_form_with model: resource, scope: resource_name, url: registration_path(resource_name), html: { novalidate: true, class: 'needs-validation' } do |form|
      = form.text_field :name, input_options: { required: true, autofocus: true }
      = form.email_field :email, input_options: { required: true }
      = form.password_field :password, input_options: { required: true }
      = form.password_field :password_confirmation, input_options: { required: true }
      .card.mb-3
        .card-body
          %h5.card-title= t('devise.registrations.edit.settings')
          = form.select :language, options_for_select(I18n.locale_options_array, resource.language)
          = form.select :timezone, options_for_select(ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.tzinfo.identifier] }, resource.timezone)
      = form.check_group do
        = form.check_box :age_check, input_options: { required: true }, label: t('.age'), client_side_error: t('.age_required')
      .float-end
        = form.submit t('.submit')
