<%= t('user_mailer.job_finished.header') %>
==========

<%= t('user_mailer.job_finished.intro', task: @task.name, datasets: @presenter.dataset_list) %>

<%= t('user_mailer.job_finished.link') %>

<<%= workflow_fetch_url %>>

<%= t('user_mailer.job_finished.warning') %>
