= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'ExportCitations') do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.export_citations.options_label')
    = form.select :format, options_for_select(Sciveyor::Documents::Serializers::Base.available.map { |k| [Sciveyor::Documents::Serializers::Base.for(k).format, k] }.sort_by(&:first)), label: t('jobs.export_citations.format')
  .float-end
    = form.cancel workflow_start_path
    = form.submit
