.modal-dialog{role: "document"}
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')
      = close_icon('bs-dismiss': 'modal')
    - if current_user.datasets.blank?
      .modal-body
        %p= t('.no_datasets')
    - else
      = sciveyor_form_with url: dataset_path(current_user.datasets.first), method: :patch, html: { id: "add-form-#{document.id.html_id}" } do |form|
        = form.hidden_field :doc_id, value: document.id
        .modal-body
          = form.select :dataset_id, options_for_select(current_user.datasets_hash.transform_values { |d| d.uuid }), input_options: { class: 'search-add-select' }, label: Dataset.model_name.human
        .modal-footer
          = link_to t('common.cancel'), '#', class: 'btn btn-secondary', data: { bs_dismiss: 'modal' }
          = form.submit t('.submit'), color: 'btn-success'
