.row.advanced-row.mb-3
  .col-3
    .form-floating.field-group
      = form.select 'fields[]', options_for_select(advanced_search_fields), {}, class: 'form-select'
      = form.label 'fields[]', t('.field_label')
  .col
    .form-floating.value-group
      = form.text_field 'values[]', class: 'form-control'
      = form.label 'values[]', t('.value_label')
  .col-auto
    .bool-group
      .btn-group
        = link_to '#', class: 'btn btn-outline-secondary advanced-add-button', type: 'button', aria: { label: t('.add_label') } do
          %i.fas.fa-plus
        = link_to '#', class: 'btn btn-outline-secondary advanced-remove-button invisible', type: 'button', aria: { label: t('.remove_label') } do
          %i.fas.fa-minus
