- if user_signed_in?
  %h6.dropdown-header= t('.dataset_header')
  = link_to t('.single_dataset'), new_dataset_path('q[]': "id:(\"#{document.id}\")"), class: 'dropdown-item ajax-modal', id: "single-#{document.id.html_id}"
  = link_to t('.add_to_dataset'), '#', class: 'dropdown-item', data: { bs_toggle: 'modal', bs_target: "#add-#{document.id.html_id}-modal" }
  .dropdown-divider
- if document.doi
  = link_to t('.journal'), "http://dx.doi.org/#{document.doi}", class: 'dropdown-item'
  .dropdown-divider
%h6.dropdown-header= t('.library')
- if user_signed_in?
  - current_user.libraries.each do |library|
    = link_to t('.yours') + ' ' + library.name, "#{library.url}#{Sciveyor::Documents::AsOpenUrl.new(document).params}", class: 'dropdown-item'
= link_to t('.worldcat'), "http://worldcatlibraries.org/registry/gateway?#{Sciveyor::Documents::AsOpenUrl.new(document).params}", class: 'dropdown-item'
= link_to t('.uk_openurl'), "http://openurl.ac.uk/?#{Sciveyor::Documents::AsOpenUrl.new(document).params}", class: 'dropdown-item'
.dropdown-divider
%h6.dropdown-header= t('.online')
- if document.title
  = link_to t('.google'), "http://scholar.google.com/scholar?q=#{CGI.escape(document.title)}", class: 'dropdown-item'
.dropdown-divider
%h6.dropdown-header= t('.details_header')
- if document.doi
  = link_to "DOI: #{document.doi}", "http://dx.doi.org/#{document.doi}", class: 'dropdown-item small'
%p.dropdown-wrap.small
  = t('.license', license: document.license || t('.no_license'))
- if document.licenseUrl
  = link_to t('.license_link'), document.licenseUrl, class: 'dropdown-item small'
%p.dropdown-wrap.small
  = t('.data_source', source: document.dataSource)
.dropdown-divider
%span.dropdown-item-text.small ID: #{document.id}
