%table.table.table-striped.document-list
  - @result.documents.each do |d|
    %tr
      %td
        %abbr.unapi-id{title: d.id}= ''
        .dropdown.float-end
          %button.btn.btn-outline-secondary.btn-sm.ms-1.mb-1.dropdown-toggle{
            type: "button",
            id: "drop-#{d.id.html_id}",
            data: { bs_toggle: "dropdown" },
            aria: { haspopup: "true", expanded: "false" }
          }
            = t('.dropdown_button')
          .dropdown-menu.dropdown-menu-end.document-dropdown{
            aria: { labelledby: "drop-#{d.id.html_id}" }
          }
            = render partial: 'dropdown', locals: { document: d }
        = render partial: 'document', locals: { document: d }
        -# The modal dialog box for adding this document to an existing dataset needs to be outside the dropdown menu
        - if user_signed_in?
          -# FIXME: this should probably have the fade class?
          .modal{
            id: "add-#{d.id.html_id}-modal",
            tabindex: "-1",
            role: "dialog",
            aria: { hidden: "true" }
          }
            = render partial: 'add', locals: { document: d }
  - if @result_presenter.next_page_params(@search_params)
    %tr.scroll-pagination
      %td.text-center
        = link_to t('.more_hits'), search_path(@result_presenter.next_page_params(@search_params).to_request), class: 'scroll-next-page'
