.modal-dialog{role: "document"}
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')
      = close_icon('bs-dismiss': 'modal')
    = sciveyor_form_with url: datasets_path, method: 'post', html: { novalidate: true, class: 'needs-validation' } do |form|
      .modal-body
        -# Send dataset parameters
        - params[:q]&.each do |q|
          = form.hidden_field 'q[]', value: q
        - if params[:boolean]
          = form.hidden_field :boolean, value: params[:boolean]
        - params[:fq]&.each do |fq|
          = form.hidden_field 'fq[]', value: fq
        = form.text_field :name, input_options: { required: true }
      .modal-footer
        = link_to t('common.cancel'), '#', class: 'btn btn-secondary', data: { bs_dismiss: 'modal' }
        = form.submit t('.submit')
