- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li.breadcrumb-item.active
    = t('breadcrumbs.datasets_show', name: @dataset.name_for(current_user))
.row.mb-3
  .col-auto
    %h1= @dataset.name_for(current_user)
  .col-auto
    %h4.position-relative.start-50.top-50.translate-middle
      .badge.bg-info= t('.badge', num: @dataset.document_count)
.row.mb-4
  .col-12.col-md-6
    .card
      .card-body
        %h5.card-title= t('.edit')
        = t_md('.edit_md')
        = link_to t('.open_button'), search_path(Sciveyor::Solr::Params.new(dataset: @dataset).to_request), class: 'btn btn-success'
  .col-12.col-md-6
    .card
      .card-body
        %h5.card-title= t('.search')
      %ul.list-group.list-group-flush
        - dp = Sciveyor::Presenters::DatasetPresenter.new(dataset: @dataset)
        %li.list-group-item
          %strong= Dataset.human_attribute_name(:q) + ':'
        - if @dataset.q.empty? || @dataset.q.size == 1 && @dataset.q[0] == '*:*'
          %li.list-group-item= t('.everything')
        - else
          - @dataset.q.each do |q|
            %li.list-group-item
              = dp.q_string(q)
        %li.list-group-item
          %strong= t('.boolean')
          - if @dataset.boolean == 'or'
            = t('.boolean_or')
          - else
            = t('.boolean_and')
        - if dp.fq_string
          %li.list-group-item
            %strong= Dataset.human_attribute_name(:fq) + ':'
            %ul
              - dp.fq_string.each do |fq|
                %li= fq
