- content_for :js_modules do
  = javascript_import_module_tag "jobs/all_toggle"
= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'Cooccurrence'), html: { novalidate: true, class: 'needs-validation' } do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.cooccurrence.options_label')
    = form.select :scoring, options_for_select(Sciveyor::Jobs::Cooccurrence.significance_tests),label: t('common.scoring.label'), select_options: { include_blank: false }
    = form.number_field :num_pairs, value: 50, label: t('jobs.cooccurrence.num_pairs')
    = form.check_group do
      = form.check_box :all, label: t('jobs.cooccurrence.all')
    = form.number_field :window, input_options: { required: true }, label: t('jobs.cooccurrence.window'), client_side_error: 'jobs.cooccurrence.window_blank'
    = form.number_field :min_count, value: 3, label: t('jobs.cooccurrence.min_count')
    = form.text_field :words, input_options: { required: true }, label: t('jobs.cooccurrence.words'), client_side_error: 'jobs.cooccurrence.words_blank'
    = form.select :stemming, options_for_select([[t('common.no'), :no], [t('common.stemming.stem'), :stem], [t('common.stemming.lemma'), :lemma]]), select_options: { include_blank: false }, label: t('common.stemming.label')
  .float-end
    = form.cancel workflow_start_path
    = form.submit
