- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.users_passwords_new')
.row
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')
.row
  .col-12.col-lg-6
    = sciveyor_form_with model: resource, scope: resource_name, url: password_path(resource_name), html: { novalidate: true, class: 'needs-validation' } do |form|
      = form.email_field :email, input_options: { required: true, autofocus: true }
      .float-end
        = form.submit t('.submit')
