- data = JSON.parse(task.json)
- names = data['names']
.row
  .col-12.col-md-8
    %h1 #{Dataset.model_name.human}: #{presenter.dataset_list}
    %h4.text-muted= t('jobs.proper_names.subheader')
  .col-12.col-md-4.job-header-button
    = link_to t('common.download_csv'), task_download_url(task: task, content_type: 'text/csv'), class: 'btn btn-secondary'
.row
  .col-12
    .card
      .card-body
        %ul
          - names.each do |n, c|
            %li #{n}: #{c}
