.btn-group
  = link_to t('.query'), query_libraries_path, class: 'btn btn-secondary btn-sm ajax-modal', id: 'query-libraries'
  = link_to t('.add_new'), new_library_path, class: 'btn btn-secondary btn-sm ajax-modal', id: 'new-library'
%table.table.button-table.table-striped
  %thead
    %tr
      %th.label-cell= t('.name_column')
      %th.button-cell
  %tbody
    - current_user.libraries.each_with_index do |library, i|
      %tr
        %td.label-cell= library.name
        %td.button-cell
          = link_to t('.edit_button'), edit_library_path(library), class: 'btn btn-sm btn-secondary ajax-modal', id: "edit-library-#{i}"
          = link_to t('.delete_button'), library_path(library), method: 'delete', data: { confirm: t('.delete_confirm') }, class: 'btn btn-sm btn-danger'
    - if current_user.libraries.empty?
      %tr
        %td.label-cell= t('.no_libraries')
        %td.button-cell
