<%= t('devise.mailer.reset.intro', name: @resource.name) %>
==========

<%= t('devise.mailer.reset.instructions') %>

<%= t('devise.mailer.reset.link') %>

<<%= edit_user_password_url(reset_password_token: @token) %>>

<%= t('devise.mailer.reset.ignore') %>
