%preview= t('devise.mailer.reset.preview')
%h5.mb-3= t('devise.mailer.reset.intro', name: @resource.name)
%p= t('devise.mailer.reset.instructions')
= link_to t('devise.mailer.reset.link'), edit_user_password_url(reset_password_token: @token), class: 'btn btn-primary btn-lg mx-auto mt-4 mb-4'
%p= t('devise.mailer.reset.ignore')
