.row
  .col-9.offset-1
    %h1= t('.header', app_name: 'Sciveyor')
    %h4.text-muted= t('.subheader', app_name: 'Sciveyor')
.row.dashboard
  .col-4.offset-1
    = link_to t('.start_button'), workflow_start_path, class: 'btn btn-success w-100'
    %p= t('.start_explanation')
  .col-4
    = link_to t('.fetch_button'), workflow_fetch_path, class: 'btn btn-secondary w-100'
    %p= t('.fetch_explanation')
.row.dashboard
  .col-4.offset-3
    = link_to t('.advanced_button'), search_path, class: 'btn btn-secondary w-100'
    %p= t('.advanced_explanation')
