.row
  .col-12
    %h4= t('.pending_header')
    - if @pending_tasks.empty?
      %p= t('.no_pending')
    - else
      %table.table.button-table.table-striped#pending-table
        %thead
          %tr
            %th.label-cell= t('.task_column')
            %th.label-cell= Dataset.model_name.human
        %tbody
          - @pending_tasks.each do |t|
            - p = Sciveyor::Presenters::TaskPresenter.new(task: t)
            %tr
              %td.label-cell= t.name
              %td.label-cell= p.dataset_list
      .card.text-white.bg-secondary.card-body
        %p.card-text
          = t_md('.pending_cancel_markdown', terminate_url: workflow_fetch_path(terminate: 'true'))
.row
  .col-12
    %h4= t('.completed_header')
    - if @finished_tasks.empty?
      %p= t('.no_completed')
    - else
      %table.table.button-table.table-striped#finished-table
        %thead
          %tr
            %th.label-cell= t('.task_column')
            %th.label-cell= Dataset.model_name.human
            %th.label-cell= t('.finished_column')
            %th.button-cell= t('.results_column')
        %tbody
          - @finished_tasks.each do |task|
            - p = Sciveyor::Presenters::TaskPresenter.new(task: task)
            %tr
              %td.label-cell= task.name
              %td.label-cell= p.dataset_list
              %td.label-cell
                = task.failed ? t('common.progress.failure') : l(task.finished_at, format: :short)
              - if task.failed
                %td.button-cell
                  = link_to t('.delete_button'), destroy_task_path(task), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('.delete_confirm') }
              - else
                %td.button-cell
                  - if lookup_context.exists?(task.template_path('results'))
                    = link_to t('.view_button'), view_task_path(task, template: 'results'), class: 'btn btn-sm btn-success'
                  -# Render a single button for the download if there's only one, or render a dropdown button if there's multiple uploads
                  - if task.uploads.downloadable.count == 1
                    = link_to t('.download_button'), static_file_path(task.uploads.downloadable.first.filename), class: 'btn btn-sm btn-success'
                  - elsif task.uploads.downloadable.count > 1
                    .btn-group
                      = link_to t('.download_button'), '#', class: 'btn btn-sm btn-success dropdown-toggle', data: { bs_toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' }
                      .dropdown-menu
                        - task.uploads.downloadable.each do |f|
                          = link_to "#{f.description} (#{f.short_description})", static_file_path(f.filename), class: 'dropdown-item'
                  = link_to t('.delete_button'), destroy_task_path(task), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('.delete_confirm') }
