.row
  .col-8.offset-2#markdown-landing
    = image_tag 'landing-logo.svg'
    %h4= t('.intro_header')
    %blockquote
      %h5= t('.questions_header')
      %p
        = t('.question_one')
        %br
        = t('.question_two')
        %br
        =t ('.question_three')
    %h3= t('.answer_header')
    %p= t('.answer_description')
.row
  .col-4.offset-4#landing-login
    = link_to t('.sign_up_button'), new_user_registration_path, class: 'btn btn-primary btn-lg w-100'
.row
  .col-6.offset-3
    .carousel.carousel-dark.slide#screenshot-carousel{
      data: { bs_ride: "carousel" }
    }
      .carousel-inner
        .carousel-item.active
          = image_tag 'screenshot-one.jpg', class: 'd-block w-100'
          .carousel-caption.d-none.d-md-block
            %p= t('.caption_one')
        .carousel-item
          = image_tag 'screenshot-two.jpg', class: 'd-block w-100'
          .carousel-caption.d-none.d-md-block
            %p= t('.caption_two')
        .carousel-item
          = image_tag 'screenshot-three.jpg', class: 'd-block w-100'
          .carousel-caption.d-none.d-md-block
            %p= t('.caption_three')
      %button.carousel-control-prev{
        type: "button",
        data: { bs_target: "#screenshot-carousel", bs_slide: "prev" }
      }
        %span.carousel-control-prev-icon{aria: { hidden: "true" }}
        %span.visually-hidden Previous
      %button.carousel-control-next{
        type: "button",
        data: { bs_target: "#screenshot-carousel", bs_slide: "next" }
      }
        %span.carousel-control-next-icon{aria: { hidden: "true" }}
        %span.visually-hidden Next
