%h2= t('jobs.word_frequency.info_header')
%h4= t('jobs.word_frequency.info_subheader')
= t_md('jobs.word_frequency.info_description_markdown')
%blockquote= t_md('jobs.word_frequency.info_questions_markdown')
