- content_for :js_modules do
  = javascript_import_module_tag "jobs/word_cloud"
- data = JSON.parse(task.json)
.row
  .col-12.col-md-8
    %h1 #{Dataset.model_name.human}: #{presenter.dataset_list}
    %h4.text-muted= t('jobs.word_frequency.subheader')
  .col-12.col-md-4.job-header-button
    = link_to t('common.download_csv'), task_download_url(task: task, content_type: 'text/csv'), class: 'btn btn-secondary'
.row.mt-3
  .col-12
    %hr/
    %h5.mb-4= t('jobs.word_frequency.cloud_header')
    .word-cloud{data: { sv_word_cloud: data['word_cloud_words'].to_json }}
      = render partial: 'jobs/word_cloud/controls'
