<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
   <msapplication>
     <tile>
        <square150x150logo src="<%= image_path 'mstile-150x150.png' %>"/>
        <TileColor>#da532c</TileColor>
     </tile>
   </msapplication>
</browserconfig>
