- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.static_cookies')
.row
  .col-12
    %h1= t('.header')
    %p= t('.header_description')
    %h3= t('.what_header')
    %p= t('.what_description')
    %h3= t('.how_header')
    %p= t('.how_description')
    %h3= t('.control_header')
    %p= t('.control_description')
