%h2= t('jobs.article_dates.info_header')
%h4= t('jobs.article_dates.info_subheader')
= t_md('jobs.article_dates.info_description_markdown')
%blockquote= t_md('jobs.article_dates.info_questions_markdown')
