- content_for :js_modules do
  = javascript_import_module_tag "jobs/article_dates/params"
= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'ArticleDates') do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.article_dates.options_label')
    = form.check_group do
      = form.check_box :normalize, label: t('jobs.article_dates.checkbox_label')
    .sub-form.d-none#normalize-controls
      = form.select :normalization_dataset, current_user.datasets_hash.transform_values { |d| d.uuid }, label: t('jobs.article_dates.dataset_label'), select_options: { prompt: t('jobs.article_dates.all') }, input_options: { disabled: true }
  .float-end
    = form.cancel workflow_start_path
    = form.submit
