= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'TermDates'), html: { novalidate: true, class: 'needs-validation' } do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.term_dates.options_label')
    = form.text_field :term, input_options: { required: true }, label: t('jobs.term_dates.term'), client_side_error: 'jobs.term_dates.term_blank'
  .float-end
    = form.cancel workflow_start_path
    = form.submit
