- content_for :js_modules do
  = javascript_import_module_tag "jobs/all_toggle"
= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'Collocation') do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.collocation.options_label')
    = form.select :scoring, options_for_select(Sciveyor::Jobs::Collocation.significance_tests), select_options: { include_blank: false }, label: t('common.scoring.label')
    = form.number_field :num_pairs, input_options: { value: 50 }, label: t('jobs.collocation.num_pairs')
    = form.check_group do
      = form.check_box :all, label: t('jobs.collocation.all')
    = form.text_field :focal_word, label: t('jobs.collocation.focal_word')
  .float-end
    = form.cancel workflow_start_path
    = form.submit
