- data = JSON.parse(task.json)
- content_for :js_modules do
  = javascript_import_module_tag "jobs/network/results"
.row
  .col-12.col-md-8
    %h1 #{Dataset.model_name.human}: #{presenter.dataset_list}
    %h4.text-muted= t('jobs.network.subheader', focal_word: data['focal_word'])
  .col-12.col-md-4.job-header-button
    = link_to t('jobs.network.download'), view_task_path(task, template: 'download', format: 'graphml'), class: 'btn btn-secondary'
.row
  .col-12
    %hr/
    = javascript_tag("window.json_data = '#{j task.json}';", nonce: true)
    .network_graph
      .network_graph_box
        %p ...
