%head
  %meta{charset: "utf-8"}/
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
  %title Sciveyor
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all'
  = render partial: 'layouts/js_i18n'
  = javascript_importmap_tags
  = yield(:js_modules)
  = render partial: 'layouts/favicons'
  -# Reference the unAPI server, if we need to
  - if params[:controller] == 'search'
    %link{
      rel: "unapi-server",
      type: "application/xml",
      title: "unAPI",
      href: unapi_url
    }/
