= form_with scope: :user, url: user_session_path, html: { id: 'sign-in-form', class: 'needs-validation px-4 pt-3 pb-1', novalidate: true } do |form|
  .form-floating.mb-3
    = form.email_field :email, class: 'form-control', placeholder: User.human_attribute_name(:email), required: true
    = form.label :email
  .form-floating.mb-3
    = form.password_field :password, class: 'form-control', placeholder: User.human_attribute_name(:password), required: true
    = form.label :password
  .mb-3#sign-in-remember
    .form-check
      = form.check_box :remember_me, class: 'form-check-input'
      = form.label :remember_me, class: 'form-check-label'
  .clearfix
    .float-end
      = form.submit t('layouts.sign_in.sign_in'), class: 'btn btn-primary'
.dropdown-divider
= link_to t('layouts.sign_in.forgot_password'), new_user_password_path, class: 'dropdown-item small'
= link_to t('layouts.sign_in.sign_up'), new_user_registration_path, class: 'dropdown-item small'
