!!! Strict
%html{lang: "en"}
  %head
    %meta{http_equiv: "Content-Type", content: "text/html; charset=utf-8"}/
    %meta{name: "x-apple-disable-message-reformatting"}/
    %meta{http_equiv: "x-ua-compatible", content: "ie=edge"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    %meta{
      name: "format-detection",
      content: "telephone=no, date=no, address=no, email=no"
    }/
  %body.bg-light
    .container
      %img.mx-auto.mt-4.mb-3{src: image_url('android-chrome-192x192.png', only_path: false)}/
      .card.mb-4
        .card-body
          %h4.text-center Sciveyor
          %hr/
          = yield
      .text-center.text-muted.mb-2
        = link_to t('mailer.visit'), root_url
        ·
        = link_to t('mailer.contact'), "mailto:help@sciveyor.com"
      .text-center.text-muted.mb-4
        %small= t('mailer.one_time')
