- data = JSON.parse(task.json)
- content_for :javascripts do
  = javascript_include_tag 'https://www.gstatic.com/charts/loader.js', nonce: true
- content_for :js_modules do
  = javascript_import_module_tag "jobs/word_cloud"
  = javascript_import_module_tag "jobs/craig_zeta/results"
.row
  .col-12.col-md-8
    %h1
      = t('jobs.craig_zeta.header', name_1: data['name_1'], name_2: data['name_2'])
    %h4.text-muted= t('jobs.craig_zeta.subheader')
  .col-12.col-md-4.job-header-button
    = link_to t('common.download_csv'), task_download_url(task: task, content_type: 'text/csv'), class: 'btn btn-secondary'
.row
  .col-12
    %hr/
    %h5= t('jobs.craig_zeta.graph_header')
    %p= t('jobs.craig_zeta.graph_explanation')
    = javascript_tag("window.json_data = '#{j task.json}';", nonce: true)
    #cz-graph
    %hr/
    %h5= t('jobs.craig_zeta.cloud_header', name: data['name_1'])
    .word-cloud{data: { sv_word_cloud: data['word_cloud_1_words'].to_json }}
      = render partial: 'jobs/word_cloud/controls'
    %hr/
    %h5= t('jobs.craig_zeta.cloud_header', name: data['name_2'])
    .word-cloud{
      data: {
        sv_word_cloud: data['word_cloud_2_words'].map { |k, v| [k, -v] }.to_h.to_json
      }
    }
      = render partial: 'jobs/word_cloud/controls'
    %hr/
    %h5= t('jobs.craig_zeta.zeta_score_header')
    %p
      = t('jobs.craig_zeta.zeta_score_explanation', name_1: data['name_1'], name_2: data['name_2'])
    #cz-table
